
@{
    ViewData["Title"] = "_MyLayout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {background-color: lightblue}
    </style>
    <title>MySecondApp</title>
</head>

<body>
    
    <div>
        @RenderBody()
    </div>


</body>

</html>

